.tabela{
	padding: 0px;
}


.ui-datatable tbody td {
	padding: 10px 5px 10px 5px;
	border-bottom: 2px solid #fff;
	
}

.ui-datatable .ui-widget-header{
	background: none !important;
	border: none !important;
}

.ui-datatable thead th{
	background: none !important;
	border: none !important;
	border-bottom: 3px solid #DDD !important;
	font-weight:  bold;
}




.ui-paginator  .ui-paginator-current {
	text-align: left !important;	
	left: 0em !important;
	margin-left: 0px !important;
	
}

.ui-paginator-bottom {
   text-align: right ! important;
}

/*Alinear a la derecha*/
.ui-paginator-top {
   text-align: left ! important;
}


.ui-paginator-top .ui-paginator-current {
	 display: none ! important;
}

.ui-paginator-top .ui-paginator-first {
	display: none ! important;
}
.ui-paginator-top .ui-paginator-prev {
	display: none ! important;
}

.ui-paginator-top  .ui-paginator-pages{
	display: none ! important;
}
.ui-paginator-top  .ui-paginator-next{
	display: none ! important;
}
.ui-paginator-top  .ui-paginator-last{
	display: none ! important;
}

.ui-paginator-top .ui-paginator-rpp-options{
	width: 100px;
	 
}

/*Eliminar el icono de prime*/
.ui-icon-seek-end {
   display: none ! important;
}

/*Poner otro caracter en lugar del icono de prime*/
.ui-paginator-last:after {
   content: '>|' ! important;
}

.ui-icon-seek-next {
   display: none ! important;
}

.ui-paginator-next:after {
   content: '>>' ! important;
}


.ui-icon-seek-prev {
   display: none ! important;
}

.ui-paginator-prev:after {
   content: '<<' ! important;
}


.ui-icon-seek-first {
   display: none ! important;
}

.ui-paginator-first:after {
   content: '|<' ! important;
}

.ui-paginator-bottom .ui-paginator-current{
	    text-align: left ! important;
	    float:left;
}

.ui-paginator-bottom  .ui-paginator-rpp-options{
	 display: none ! important;
}

.ui-paginator .ui-paginator-bottom{
	width:100% ! important;
	background-color: aqua ! important;
}



.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current {
	
	}
	
.coluna1{
 width: 5%;
	text-align: center;
}	