/*
	Este arquivo controla todos os portlets (Box) do sistema
	
  */

.box-element {
	border-radius: 5px;
	clear: both;
	margin-top: 0px;	
	margin-bottom: 25px;
	padding: 0px;
	margin-bottom: 20px;
	background-color: #FFF;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);	
	border-top: 2px solid #dfdfdf;
	min-height: 350px;
	max-height: 350px;
}
/*
	inicio do css do cabecalho	
 */
.box-element .box-head {
	
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 0px none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}



/* Barra de ferramentas */
.box-element_bar {
	border-radius: 5px;
	clear: both;
	margin-top: 0px;	
	margin-bottom: 25px;
	padding: 0px;
	margin-bottom: 20px;
	background-color: #FFF;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);	
	border-top: 2px solid #dfdfdf;	
	min-height: 200px;
}
/*
	inicio do css do cabecalho	
 */
.box-element_bar .box-head {
	font-family: 'Oswald';
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 0px none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.box-element_bar .box-content {
	padding: 15px;
	background-color: #FFF;
}

.box-head {
/* 	padding: 10px 15px; */
	border-bottom: 1px solid transparent;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.box-head h3 {
	padding-left: 0.75em;
	font-size:12px;
}
 

.forms-16 {
	background-image:
		url("/chamados/template/flat/css/imagens/24x24/Auto-Archive-24.png");
	margin-right: 5px !important;
	background-repeat: no-repeat;
	padding: 6px 9px 6px 9px;
}

/*
	Fim cabecalho
*/

.box-element .box-content {
	padding: 15px;
	background-color: #FFF;
}

